<a href="https://colab.research.google.com/github/WonJunPark/2019-Gsoftware-Challenge/blob/master/DACON_Stage1_%EB%B0%98%EB%8F%84%EC%B2%B4_%EB%B0%95%EB%A7%89_%EB%91%90%EA%BB%98_%EB%B6%84%EC%84%9D_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EB%8C%80%ED%9A%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DACON Stage1 반도체 박막 두께 분석 알고리즘 대회

In [0]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [7]:
!ls "/content/gdrive/My Drive/semiconductor

/bin/bash: -c: line 0: unexpected EOF while looking for matching `"'
/bin/bash: -c: line 1: syntax error: unexpected end of file

In [8]:
cd /content/gdrive/My Drive/semiconductor

/content/gdrive/My Drive/semiconductor

In [9]:
train = pd.read_csv("train.csv")
train.head()

   layer_1  layer_2  layer_3  layer_4  ...       222       223       224       225
0       10       10       10       10  ...  0.419225  0.443250  0.433414  0.465502
1       10       10       10       20  ...  0.637706  0.625981  0.653231  0.637853
2       10       10       10       30  ...  0.747743  0.746037  0.737356  0.750391
3       10       10       10       40  ...  0.774712  0.801526  0.805305  0.784057
4       10       10       10       50  ...  0.787763  0.794948  0.819105  0.801781

[5 rows x 230 columns]

In [0]:
# Test 데이터를 불러옵니다.
test = pd.read_csv('test.csv')

In [0]:
#독립변수와 종속변수를 분리합니다.
train_X = train.iloc[:,4:]  #Train 데이터의 독립변수
train_Y = train.iloc[:,0:4] #Train 데이터의 종속변수
test_X = test.iloc[:,1:]    #Test  데이터의 독립변수

1/13
첫번째 시도.

모델 3층

score : 54.2431

------------


두번째 시도. 

모델 6층 

score : 58.5697

-----------

세번째 시도.

모델 6층/ epochs 200

특이사항 : 137회에서 오버피팅

score : 40.1392

----------

1/14
네번째 시도.

모델 6층/ dropout 0.5추가/ epochs 200

특이사항 : 10회에서 오버피팅

score : @

----------

다섯번째 시도.

모델 6층/ l1,l2 규제 추가/ epochs 200

특이사항 : 꾸준히 내려감, 추후 epochs 늘려볼 것 // mse 55

score : @

----------

여섯번째 시도.

모델 6층/ dropout 0.5/ l1,l2 규제 추가/ epochs 200

특이사항 : 꾸준히 내려감 역시 mse 55

score : @

----------

In [0]:
#4
import keras
from keras import layers
from keras import regularizers
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(units=128, activation='relu', input_dim=226))
model.add(layers.Dropout(0.5))
model.add(Dense(units=64, activation='relu'))
model.add(layers.Dropout(0.5))
model.add(Dense(units=32, activation='relu'))
model.add(layers.Dropout(0.5))
model.add(Dense(units=16, activation='relu'))
model.add(layers.Dropout(0.5))
model.add(Dense(units=8, activation='relu'))
model.add(layers.Dropout(0.5))
model.add(Dense(units=4, activation='linear'))

In [0]:
#5
import keras
from keras import layers
from keras import regularizers
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(units=128, activation='relu', input_dim=226))
model.add(Dense(units=64, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), activation='relu'))
model.add(Dense(units=32, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), activation='relu'))
model.add(Dense(units=16, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), activation='relu'))
model.add(Dense(units=8, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), activation='relu'))
model.add(Dense(units=4, activation='linear'))

In [0]:
#6
import keras
from keras import layers
from keras import regularizers
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(units=128, activation='relu', input_dim=226))
model.add(Dense(units=64, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), activation='relu'))
model.add(Dense(units=32, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), activation='relu'))
model.add(Dense(units=16, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), activation='relu'))
model.add(Dense(units=8, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), activation='relu'))
model.add(Dense(units=4, activation='linear'))

In [0]:
#모델을 컴파일합니다.
model.compile(loss='mae', optimizer='adam', metrics=['mae'])

In [80]:
model.fit(train_X, train_Y, epochs=5, batch_size=10000, validation_split = 0.05)

Train on 769500 samples, validate on 40500 samples
Epoch 1/5
769500/769500 [==============================] - 8s 10us/step - loss: 37.6454 - mean_absolute_error: 36.5466 - val_loss: 48.0801 - val_mean_absolute_error: 46.9813
Epoch 2/5
769500/769500 [==============================] - 8s 10us/step - loss: 37.6569 - mean_absolute_error: 36.5579 - val_loss: 50.2030 - val_mean_absolute_error: 49.1038
Epoch 3/5
769500/769500 [==============================] - 8s 10us/step - loss: 37.6700 - mean_absolute_error: 36.5708 - val_loss: 50.7719 - val_mean_absolute_error: 49.6727
Epoch 4/5
769500/769500 [==============================] - 8s 10us/step - loss: 37.5525 - mean_absolute_error: 36.4531 - val_loss: 49.5056 - val_mean_absolute_error: 48.4062
Epoch 5/5
769500/769500 [==============================] - 8s 10us/step - loss: 37.5955 - mean_absolute_error: 36.4959 - val_loss: 48.9527 - val_mean_absolute_error: 47.8529

In [0]:
#예측값을 생성합니다.
pred_test = model.predict(test_X)

In [0]:
#submission 파일을 생성합니다.
sample_sub = pd.read_csv('sample_submission.csv', index_col=0)
submission = sample_sub+pred_test

In [0]:
submission.to_csv('200114_submission_500.csv')